.row
  .col-md-8.well.col-md-offset-2
    .form-group
      %label{ for: 'fileupload' } Put your image here:
      %input{ id: 'fileupload', type: 'file', accept: 'image/*', name: 'icon', "data-url" => "/"}
      %p.help-block
        Just upload an image, and you will get a set of resized images for all resolutions.
      #result
        #progress.progress
          .progress-bar.progress-bar-succes
