%head
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet" }
%body
  .container
    %h1 Iconizer
    .row
      .col-md-8
        %h3 Glad to see you!
        %p
          This service is made to make your development for apple and android mobile devices easier and less painfull.
          %span.glyphicon.glyphicon-question-sign.pull-right
    .row
      .col-md-8.well
        %form{ role: 'form', action: '/', method: 'post' }
          .form-group
            %label{ for: 'image' } Put your image here:
            %input{ id: 'image', type: 'file', accept: 'image/*', name: 'icon'}
            %p.help-block
              Just upload an image, and you will get a set of resized images for all resolutions.
          %button.btn.btn-primary{ type: "submit" } profit!