!!! 5
%head
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %link{ href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet" }
  %link{ href: 'http://fonts.googleapis.com/css?family=Exo+2:300,400&subset=latin,cyrillic', rel: 'stylesheet', type: 'text/css' }
  %link{ href: '/assets/css/application.css', rel: 'stylesheet', type: 'text/css' }
  %script{ charset: "windows-1251", src: "http://vk.com/js/api/share.js?90", type: "text/javascript" }

  :css
    body .container h1 {
      font-family: 'Exo 2', sans-serif;
    }
    #vk-share a {
      height: 21px !important;
    }

%body
  .container
    -# -# - if flash[:error]
    -#   .row
    -#     .col-md-8.col-md-offset-2
    -#       .alert.alert-danger
    -#         %button.close{ type: "button", "data-dismiss" => "alert",  "aria-hidden" => "true" } &times;
    -#         -# %p= flash[:error]
    .row#info
      .col-md-8.col-md-offset-2
        %h1.text-center Ikonkin
        %h3 Glad to see you!
        %p
          This service is made to make your development for apple and android mobile devices easier and less painfull.
          %a.pull-right{ "data-toggle" => "modal", "data-target" => "#resolutions", href: '#' }
            %span.glyphicon.glyphicon-question-sign
    = yield

    %footer
      .row
        .col-md-2.col-md-offset-6
          #vk-share
            :javascript
              document.write(VK.Share.button(false,{type: "round", text: "Рассказать друзьям"}));
        .col-md-1
          .fb-share-button{"data-href" => "http://ikonkin.ru", "data-type" => "button_count"}

      / Yandex.Metrika counter
      :javascript
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23658661 = new Ya.Metrika({id:23658661,
                            clickmap:true,
                            trackLinks:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      %noscript
        %div
          %img{alt: "", src: "//mc.yandex.ru/watch/23658661", style: "position:absolute; left:-9999px;"}/
      / /Yandex.Metrika counter
  .modal.fade#resolutions
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title iOS icons pack
        .modal-body
          %img{ src: 'http://i.stack.imgur.com/l1WRX.png', width: '100%' }
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          -# %button.btn.btn-primary{type: "button"} Save changes
  %script{ src: "/vendor/jquery-1.10.2.min.js" }
  %script{ src: "/vendor/jquery.fileupload/jquery.ui.widget.js" }
  %script{ src: "/vendor/jquery.fileupload/jquery.fileupload.js" }
  %script{ src: "/vendor/jquery.fileupload/jquery.fileupload-process.js" }
  %script{ src: "/vendor/jquery.fileupload/jquery.fileupload-validate.js" }
  %script{ src: "/vendor/jquery.fileupload/jquery.iframe-transport.js" }
  %script{ src: "/vendor/bootstrap/js/bootstrap.min.js" }
  %script{ src: "/assets/js/application.js" }
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=212900088872710";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
