!!! 5
%head
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet" }
%body
  .container
    -# - if flash[:error]
      .row
        .col-md-8.col-md-offset-2
          .alert.alert-danger
            %button.close{ type: "button", "data-dismiss" => "alert",  "aria-hidden" => "true" } &times;
            -# %p= flash[:error]
    .row
      .col-md-8.col-md-offset-2
        %h1.text-center Ikonkin
        %h3 Glad to see you!
        %p
          This service is made to make your development for apple and android mobile devices easier and less painfull.
          %a.pull-right{ "data-toggle" => "modal", "data-target" => "#resolutions", href: '#' }
            %span.glyphicon.glyphicon-question-sign
    = yield

    .row
      .col-md-8.col-md-offset-2
        :javascript
          <!--
          document.write(VK.Share.button(false,{type: "round", text: "Рассказать друзьям"}));
          -->
        .fb-share-button{"data-href" => "http://ikonkin.ru", "data-type" => "button_count"}
  .modal.fade#resolutions
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title iOS icons pack
        .modal-body
          %img{ src: 'http://i.stack.imgur.com/l1WRX.png', width: '100%' }
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          -# %button.btn.btn-primary{type: "button"} Save changes

  %script{ src: "/vendor/jquery-1.10.2.min.js" }
  %script{ src: "/vendor/bootstrap/js/bootstrap.min.js" }
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=212900088872710";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  %script{charset: "windows-1251", src: "http://vk.com/js/api/share.js?90", type: "text/javascript"}