#dropzone {
  transition: all ease-in-out .3s;
}

#dropzone.in {
  box-shadow: inset 4px 4px 5px #bebebe;
}
#dropzone.hover {
  box-shadow: inset 6px 6px 5px #bebebe;
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

